.delivery{
    padding: 50px 0 57px;
    &__items{
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: space-between;
    }
    &__item{
        row-gap: 28px;
    }
}