.form{
    &__title{
        margin-top: 55px;
        color: $descr-color;
        font-size: 28px;
        font-weight: 400;
    }
    &__wrapper{
        margin-top: 70px;
        display: grid;
        grid-template-rows: 67px 47px 52px;
        height: 166px;
        border: 1px solid #898989;
    }
    &__icon{
        position: relative;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 130px;
        background: #fff;
        span{
            display: block;
            margin: 0 auto;
            width: 102px;
            height: 102px;
            border: 1px solid $main-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
        }
    }
    &__input{
        display: grid;
        grid-template-columns: repeat(3, 270px);
        column-gap: 5px;
        justify-content: center;
        input{
            height: 100%;
            border-radius: 40px;
            outline: #898989;
            border: 2px solid #898989;
            padding: 0 30px;
            &:focus{
                border: 2px solid #25333c;
            }
        }
    }
    &__btn-block{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50%;
        width: 200px;
        background: #fff;
        display: flex;
        justify-content: center;
    }
    &__btn{
        width: 180px;
    }
}