.header{
    padding: 23px 0 81px;
    min-height: 680px;
    background: url('../img/bg/bg1.png') center (center)/cover no-repeat;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}