.item{
    display: grid;
    grid-template-rows: auto auto;
    &__icon{
        display: block;
        margin: 0 auto;
    }
    &__descr{
        display: grid;
        grid-template-rows: auto auto;
        text-align: center;
    }
}