.item{
    display: grid;
    grid-template-rows: 67px minmax(72px, auto);
    row-gap: 15px;
    color: #fff;
    justify-items: center;
    text-align: center;
    &__icon.mt{
        margin-top: 10px;
    }
}