.promo{
    padding-top: 9px;
    &__descr{
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
    }
    &__title{
        margin-top: 26px;
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
        text-align: center;
    }
    &__subtitle{
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
    }
    &__divider{
        margin: 38px 0 27px;
        position: relative;
        height: 15px;
        span{
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            background: #fff;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
        }
        &::before, &::after{
            position: absolute;
            content: "";
            width: 47%;
            height: 2px;
            background-color: #fff;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 265px);
        justify-content: space-between;
    }
    &__item{
        display: grid;
        grid-template-rows: 67px minmax(72px, auto);
        row-gap: 15px;
        justify-items: center;
        text-align: center;
        &__icon.mt{
            margin-top: 10px;
        }
        &__descr{
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
            color: #ffffff;
        }
    }
    &__btn{
        margin: 40px auto 0px;
        display: block;
        width: 230px;
        height: 57px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
    }
}