.staff{
    padding: 58px 75px;
    height: 342px;
    &_bg1{
        background: url('../img/bg/bg2.png') center center/cover no-repeat;
    }
    &_bg2{
        background: url('../img/bg/bg3.png') center center/cover no-repeat;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
    }
    &__title{
        margin-top: 20px;
        color: #fff;
    }
    &__descr{
        margin: 22px auto 0;
        width: 990px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
}