.staff{
    padding: 58px 0px;
    height: 342px;
    &_bg1{
        background: url('../img/bg/bg2.png') center center/cover no-repeat;
    }
    &_bg2{
        background: url('../img/bg/bg3.png') center center/cover no-repeat;
    }
    &_bg3{
        background: url('../img/bg/bg4.png') center center/cover no-repeat;
        height: 414px;
    }
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 102px;
        height: 102px;
        border: 1px solid #ffffff;
        border-radius: 100%;
    }
    &__title{
        margin-top: 20px;
        color: #fff;
    }
    &__descr{
        margin: 22px auto 0;
        width: 990px;
        font-size: 19px;
        line-height: 27px;
        font-weight: 300;
        color: #ffffff;
    }
    &__item{
        display: grid;
        grid-template-columns: 896px;;
        grid-template-rows: 68px 230px;
        justify-content: center;
    }
    &__header{
        padding: 20px 0 10px;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        background-color: #25333c;
        line-height: 19px;
        span{
            display: block;
            font-size: 14px;
            font-weight: 400;
        }
    }
    &__wrapper{
        padding: 17px 40px 25px;
        background: rgba($color: $bg-color, $alpha: 0.7);
        display: grid;
        grid-template-rows: 47px 73px;
        row-gap: 6px;
        textarea{
            border-radius: 5px;
            resize: none;
            outline: #898989;
            border: 2px solid #898989;
            padding: 5px 30px;
            &:focus{
                border: 2px solid #25333c;
            }
        }
    }
    &__btn{
        justify-self: center;
        align-self: end;
    }
}